<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      <ion-icon name="paper-plane-outline"></ion-icon>
      {{'TAB2.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="task" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" formControlName="title" placeholder="{{'TAB2.titlePH' | translate}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description"
       placeholder="{{'TAB2.descriptionPH' | translate}}"
       autocapitalize="true"
      auto-grow="true"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label> {{'TAB2.location' | translate}}</ion-label>
      <ion-toggle color="primary" (ionChange)="location($event)"></ion-toggle>
    </ion-item>
    
    <div style="text-align: right;">
    <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!task.valid">{{'TAB2.pagBtn' | translate}}</ion-button>
  </div>
  </form>
</ion-content>