<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title >
      <ion-icon name="person-outline"></ion-icon>
      {{'TAB3.title' | translate}}
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{this.authS.getUser().avatar}}">
    </ion-avatar>
    <ion-label>
      <h3>{{this.authS.getUser().name}}</h3>
    <p class="descrip">{{this.authS.getUser().email}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{'TAB3.language' | translate}}</ion-label>
      <ion-select interface="popover" (ionChange)="select($event)" >
        <ion-select-option *ngFor="let language of idiom" [value]="language.value">{{language.text}}</ion-select-option>
      </ion-select>
  </ion-item>
</ion-content>